.about_section {
    min-height: 1024px;
    overflow: auto;
}
.about_area{
    margin-top: 150px;
    height: 100%;
    
}
.about_area > p{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 80px;
}

.about_title{
    height: 80px;
    padding-left: 50px;
    margin-left: 5%;
}
.about_title span{
    font-size: 2rem;
}
.text1:hover{
    color: #ffafaf;
}
.text2:hover{
    color: #ffe0af;
}
.text3:hover{
    color: #f7ffaf;
}
.text4:hover{
    color: #b8ffaf;
}
.text5:hover{
    color: #aff2ff;
}
.text6:hover{
    color: #afc6ff;
}
.text7:hover{
    color: #d7afff;
}
.text8:hover{
    color: #ffaffb;
}

.about_contents{
    width: 90%;
    margin: 0 5%;
    min-height: 1600px;
}
.about_contents > div{
    height: 300px;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
}
.profile, .skills{
    justify-content: left;
}
.career, .hobby{
    justify-content: right;
}
.detail_img{
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: 0 50px;
    object-fit: cover;
}
.profile .detail_img, .skills .detail_img{
    margin-right: 0px;
}
.career .detail_img, .hobby .detail_img{
    margin-left: 0px;
}
.detail{
    margin: 0 50px;
}
.detail_title{
    font-size: 1.5rem;
    font-weight: bold;
}
.detail_text{
    font-size: 1rem;
    margin-top: 20px;
    line-height: 150%;
}
.detail_text b{
    font-weight: bold;
}

.detail_right{
    text-align: end;
}

progress {
    appearance: none;
    width: 200px;
    margin: 5px;
}
progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}