.main_section {
    width: 100%;
    height: 100%;

}

.main_slide button {
    display: none;
}

.main_screen {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen_one {
    background: linear-gradient(#efffef, #D4FFD3);
}

.screen_two {
    background: linear-gradient(#D4FFD3, #A1FF9F);
}

.screen_three {
    background: linear-gradient(#A1FF9F, #4EFF4A);
}

.screen_four {
    background: linear-gradient(#4EFF4A, #38B636);
}