.nav_section{
    width: 100%;
    height: 120px;
    
    position: fixed;
    background-color: white;
    opacity: 80%;
}
.nav_bar{
    width: 90%;
    height: 100%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    width: 250px;
    height: 45px;
}
.nav_menu ul li{
    height: 30px;
    float: left;
    margin-left: 5vw;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}
.nav_link:hover{
    color: gray;
    border-bottom: 3px solid rgb(0, 0, 0);
}
.nav_link_activated{
    border-bottom: 3px solid rgb(0, 0, 0);
}
